In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb

In [ ]:
# 342 Survived out of 891 with survival rate 38%
# 549 died out of 891 with death rate 62%

# 233 Females survived out of 314 with survival rate 74.20 %
# 109 males survived out of 577 with survival rate 19.57 % 

# 82 poeple survived of ( age < 21 ) out of 180 survival rate 45.30 %
# there were total 103 males and 77 females ( age < 21)
# 34 female survived and 48 male survived ( age < 21)
# Male survival chance 46.60 %
# Female survival chance 44.15 % 

# 205 people survived of ( 21 < age < 41 ) out of 563 survival rate 36.47 %
# there were total 374 males and 189 females ( 21 < age < 41)
# 143 females survived and 62 males survived ( 21 < age < 41)
# Male survival chance 16.57 %
# Female survival chance 75.66 % 

# 55 people survived of ( 41 < age < 81 ) out of 148 survival rate 37.16 %
# there were total 100 males and 48 females ( 41 < age < 81)
# 37 females survived and 18 males survived ( 41 < age < 81)
# Male survival chance 18.00 %
# Female survival chance 77.08 % 

# In ( Pclass 1 ) 136 survived out of 216 with survival rate 62.96 %
# there were 122 males and 94 females in ( Pclass 1 )
# 45 males survived outof 122 with survival rate 36.88 % 
# 91 females survived outof 94 with survival rate 96.80 %

# In ( Pclass 2 ) 119 survived out of 184 with survival rate 64.67 %
# there were 108 males and 76 females in ( Pclass 2 )
# 17 males survived outof 108 with survival rate 15.74 %
# 70 females survived outof 76 with survival rate 92.10 %

# In ( Pclass 3 ) 87 survived out of 491 with survival rate 17.72 %
# there were 347 males and 144 females in ( Pclass 3 )
# 47 males survived outof 347 with survival rate 13.54 %
# 72 females survived outof 144 with survival rate 50.00 %

# Embarked :: S(Southhampton), C(Cherbourg), Q(Queenstown)

# 219 people survived out 646 of embarked from S with survival rate 33.90 %
# 77 males survived out of 344 with survival rate 22.38 %
# 142 females survived out of 202 with survival rate 70.30 % 

# 93 people survived out 168 of embarked from C with survival rate 55.36 %
# 29 males survived out of 95 with survival rate 30.53 % 
# 64 females survived out of 73 with survival rate 87.67 %

# 30 people survived out 77 of embarked from Q with survival rate 38.96 %
# 3 males survived out of 41 with survival rate 7.32 %
# 23 females survived out of 36 with survival rate 63.89 %

# 136 survived with cabin out of 204 with survival rate 66.67 %
# 206 survived without cabin out of 687 with survival rate 29.98 %

In [ ]:
data.isnull().sum()

In [4]:
data = pd.read_csv("titanic.csv")
data['FamilyMembers'] = data['SibSp'] + data['Parch'] + 1
data['IS_Cabin'] = data['Cabin'].notna().astype('boolean')
data = data.drop(columns = ['SibSp', 'Parch', 'Name', 'Cabin'])
data['Age'] = data['Age'].fillna(data['Age'].median())
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [ ]:
data.head(3)
data.describe()
data.info()

,PassengerId,Survived,Pclass,Sex,Age,Ticket,Fare,Embarked,FamilyMembers,IS_Cabin
0,1,0,3,male,22.0,A/5 21171,7.2500,S,2,False
1,2,1,1,female,38.0,PC 17599,71.2833,C,2,True
2,3,1,3,female,26.0,STON/O2. 3101282,7.9250,S,1,False

In [ ]:
total = len(data)
survived = data['Survived'].sum()
died = total - survived

print(f"Survived: {survived} / {total} ({survived/total:.2%})")
print(f"Died: {died} / {total} ({died/total:.2%})")

In [ ]:
sex_survival = data.groupby('Sex')['Survived'].agg(['sum', 'count'])
sex_survival['SurvivalRate'] = sex_survival['sum'] / sex_survival['count']
print(sex_survival)

In [ ]:
bins = [0, 21, 41, 81]
labels = ['<21', '21-40', '41-80']
data['AgeGroup'] = pd.cut(data['Age'], bins=bins, labels=labels)

age_group_survival = data.groupby('AgeGroup')['Survived'].agg(['sum', 'count'])
age_group_survival['SurvivalRate'] = age_group_survival['sum'] / age_group_survival['count']
print(age_group_survival)

age_sex = data.groupby(['AgeGroup', 'Sex'])['Survived'].agg(['sum', 'count'])
age_sex['SurvivalRate'] = age_sex['sum'] / age_sex['count']
print(age_sex)

In [ ]:
pclass_survival = data.groupby('Pclass')['Survived'].agg(['sum', 'count'])
pclass_survival['SurvivalRate'] = pclass_survival['sum'] / pclass_survival['count']
print(pclass_survival)

pclass_sex = data.groupby(['Pclass', 'Sex'])['Survived'].agg(['sum', 'count'])
pclass_sex['SurvivalRate'] = pclass_sex['sum'] / pclass_sex['count']
print(pclass_sex)

In [ ]:
embarked_survival = data.groupby('Embarked')['Survived'].agg(['sum', 'count'])
embarked_survival['SurvivalRate'] = embarked_survival['sum'] / embarked_survival['count']
print(embarked_survival)

embarked_sex = data.groupby(['Embarked', 'Sex'])['Survived'].agg(['sum', 'count'])
embarked_sex['SurvivalRate'] = embarked_sex['sum'] / embarked_sex['count']
print(embarked_sex)

In [ ]:

data['HasCabin'] = data['Cabin'].notnull().astype(int)

cabin_survival = data.groupby('HasCabin')['Survived'].agg(['sum', 'count'])
cabin_survival['SurvivalRate'] = cabin_survival['sum'] / cabin_survival['count']
print(cabin_survival)